################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleEngine/v17/Browse.VC.opendb
/.vs/ConsoleEngine/v17/Browse.VC.opendb
